/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  font-family: 'Quicksand';
  height: auto;
  margin: 0 auto; }

body {
  margin: 0;
  text-align: center; }

section {
  padding: 1em; }

h1, h2, h3.h4.h5.h6, p, a {
  padding: .5em;
  font-family: 'Quicksand';
  color: #444242; }

h1 {
  color: #9a1313; }

h2 {
  margin-top: 1em; }

.nav {
  width: 100%;
  position: fixed;
  place-content: center; }

header {
  text-align: center;
  margin: 0; }
  header h1 {
    position: relative;
    top: 1.8em; }

i {
  font-size: .7em; }

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(125, 14, 14, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(125, 14, 14, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(125, 14, 14, 0.75), rgba(0, 0, 0, 0)); }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0.1em; }

.home p {
  word-spacing: .45em;
  font-size: 1.1em; }
  .home p::first-letter {
    font-weight: bold; }
  .home p::first-line {
    line-height: 1.1em; }

.articIMG {
  width: 100%;
  display: inline-block; }

.textLeft ul, .textLeft li {
  text-align: left;
  margin-left: 3em; }
  .textLeft ul strong, .textLeft li strong {
    margin-right: 2em; }

.btn-CV {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  background: #6c6c6c;
  border-radius: .1em;
  -webkit-box-shadow: 1px 6px 6px -6px #781010;
          box-shadow: 1px 6px 6px -6px #781010;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .btn-CV:hover {
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    background: #eb6662;
    -webkit-box-shadow: 0px 7px 6px -6px black;
            box-shadow: 0px 7px 6px -6px black; }

.iconBar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 90%;
  z-index: 10;
  background: #ccc;
  width: 4em;
  height: 4em;
  border-radius: .5em;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }
  .iconBar svg, .iconBar img {
    width: 60%;
    height: 60%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .iconBar:hover, .iconBar :focus {
    top: .2em;
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
    -webkit-box-shadow: 0 8px 6px -6px #d1d1d1;
            box-shadow: 0 8px 6px -6px #d1d1d1;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    opacity: 100%; }
    .iconBar:hover img,
    .iconBar:hover svg, .iconBar :focus img,
    .iconBar :focus svg {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
      -webkit-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out; }

.nadpis h1 {
  z-index: -10; }

.open {
  -webkit-box-shadow: 0 8px 6px -6px #781010;
          box-shadow: 0 8px 6px -6px #781010; }
  .open img, .open svg {
    -webkit-filter: none;
            filter: none; }

.circle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .5em 1fr .5em 1fr .5em 1fr .5em 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: .5em; }
  .circle img {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center center;
    width: 3em;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.095);
    -webkit-box-shadow: 0 8px 6px -6px #2e2c2c;
            box-shadow: 0 8px 6px -6px #2e2c2c;
    border-radius: 50%;
    padding: .3em;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .circle img:hover {
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid black;
      -webkit-transition: all 2s ease-in;
      -o-transition: all 2s ease-in;
      transition: all 2s ease-in;
      -webkit-animation: rotate 3s linear infinite;
              animation: rotate 3s linear infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg, 360deg);
            transform: rotate(0deg, 360deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg, 360deg);
            transform: rotate(0deg, 360deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.aktiv {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3);
  background: white; }

#iabout img {
  -webkit-filter: invert(50%);
          filter: invert(50%); }
  #iabout img:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out; }

.prew {
  display: inline-block;
  padding: 1em 0;
  width: 100%; }
  .prew img {
    border-radius: .2em;
    background: #f1f1f1;
    margin: 1em;
    max-width: 10em; }
  .prew:select {
    z-index: 10; }

.dole {
  z-index: 10; }

.gombik {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center center;
  padding: 1em;
  border-radius: .3em;
  text-decoration: none;
  width: 6em;
  height: 2em;
  color: white;
  background: #f13b34;
  -webkit-box-shadow: 0 8px 6px -6px #781010;
          box-shadow: 0 8px 6px -6px #781010;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%); }
  .gombik a {
    text-decoration: none;
    color: white; }
  .gombik:hover, .gombik :focus {
    -webkit-filter: none;
            filter: none;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in; }

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .social img {
    padding: 1em 0;
    margin: .5em;
    width: 2em;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .social img:hover {
      -webkit-filter: none;
              filter: none;
      -webkit-transition: .2s ease-in;
      -o-transition: .2s ease-in;
      transition: .2s ease-in;
      -webkit-animation: socky 1s linear infinite;
              animation: socky 1s linear infinite; }

@-webkit-keyframes socky {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  65% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes socky {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  35% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  65% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg); }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }
.kontakt {
  border: 1px solid #f3f3f3;
  width: 15em;
  height: 9em;
  font-weight: 500;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#e7e7e7), color-stop(#e7e7e7), to(#ffffff));
  background: -o-linear-gradient(left, #e7e7e7, #e7e7e7, #ffffff);
  background: linear-gradient(to right, #e7e7e7, #e7e7e7, #ffffff); }
  .kontakt p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0; }
    .kontakt p:first-child {
      position: absolute;
      left: 1em;
      top: 2em;
      -webkit-transform: rotate(-66deg);
          -ms-transform: rotate(-66deg);
              transform: rotate(-66deg); }
    .kontakt p:nth-child(2) {
      place-content: center center; }

.effect4 {
  position: relative; }

.effect4:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg); }

footer {
  border-top: 3px solid black;
  color: #f0f0f0;
  line-height: 1.3em;
  text-shadow: 1px 1px 1px #531604;
  vertical-align: middle;
  margin: 0;
  margin-top: .5em;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 16, 4, 0.707)), to(#e0561f));
  background: -o-linear-gradient(rgba(64, 16, 4, 0.707), #e0561f);
  background: linear-gradient(rgba(64, 16, 4, 0.707), #e0561f); }

.hub {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  -webkit-animation: hub 1s linear infinite;
          animation: hub 1s linear infinite; }

@-webkit-keyframes hub {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #f8e7e7; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: #e97c7c; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #ffeaea; } }

@keyframes hub {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #f8e7e7; }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: #e97c7c; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    fill: #ffeaea; } }
@media (max-width: 600px) {
  .iconBar {
    width: 3em;
    height: 3em; }

  .circle img {
    width: 2em;
    height: 2em; }

  i {
    display: block; } }
@media (min-width: 600px) {
  article {
    text-align: center; }

  p {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    max-width: 300px; } }