html {
  font-family: 'Quicksand';
  height: auto;
  margin: 0 auto; }

body {
  text-align: center; }

section {
  padding: 1em; }

h1, h2, h3.h4.h5.h6, p, a {
  padding: .5em;
  font-family: 'Quicksand';
  color: #444242; }

h1 {
  color: #9a1313; }

h2 {
  margin-top: 1em; }

.nav {
  width: 100%;
  position: fixed;
  place-content: center; }

header {
  text-align: center;
  margin: 0; }
  header h1 {
    position: relative;
    top: 1.8em; }

i {
  font-size: .7em; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(125, 14, 14, 0.75), rgba(0, 0, 0, 0)); }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0.1em; }

.home p {
  word-spacing: .45em;
  font-size: 1.1em; }
  .home p::first-letter {
    font-weight: bold; }
  .home p::first-line {
    line-height: 1.1em; }

.articIMG {
  width: 100%;
  display: inline-block; }

.textLeft ul, .textLeft li {
  text-align: left;
  margin-left: 3em; }
  .textLeft ul strong, .textLeft li strong {
    margin-right: 2em; }

.btn-CV {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  background: #6c6c6c;
  border-radius: .1em;
  box-shadow: 1px 6px 6px -6px #781010; }
  .btn-CV:hover {
    transition: .2s ease-in;
    background: #eb6662;
    box-shadow: 0px 7px 6px -6px black; }

.iconBar {
  display: inline-flex;
  opacity: 90%;
  z-index: 10;
  background: #ccc;
  width: 4em;
  height: 4em;
  border-radius: .5em;
  box-shadow: 0 8px 6px -6px black;
  align-items: center;
  justify-content: center; }
  .iconBar svg, .iconBar img {
    width: 60%;
    height: 60%;
    filter: grayscale(100%); }
  .iconBar:hover, .iconBar :focus {
    top: .2em;
    transform: scale(1.08);
    box-shadow: 0 8px 6px -6px #d1d1d1;
    transition: .2s ease-in;
    opacity: 100%; }
    .iconBar:hover img,
    .iconBar:hover svg, .iconBar :focus img,
    .iconBar :focus svg {
      filter: grayscale(0%);
      transition: .2s ease-in-out; }

.nadpis h1 {
  z-index: -10; }

.open {
  box-shadow: 0 8px 6px -6px #781010; }
  .open img, .open svg {
    filter: none; }

.circle img {
  width: 3em;
  height: 3em;
  border: 1px solid #f0f0f0;
  box-shadow: 0 8px 6px -6px #2e2c2c;
  border-radius: 50%;
  padding: .3em;
  margin: 1em 1em;
  display: cover; }
  .circle img:hover {
    box-shadow: 0 0px 11px #9b1111;
    transition: .3s ease-in;
    animation: rotate 3s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0deg, 360deg); }
  100% {
    transform: rotate(360deg); } }
.aktiv {
  transform: scale(3);
  background: white; }

#iabout img {
  filter: invert(50%); }
  #iabout img:hover {
    filter: none;
    transition: .2s ease-in-out; }

.prew {
  display: inline-block;
  padding: 1em 0;
  width: 100%; }
  .prew img {
    box-shadow: 0 8px 6px -6px #c1c1c1;
    margin: 2em;
    max-width: 10em; }

.gombik {
  place-self: center center;
  padding: 1em;
  border-radius: .3em;
  text-decoration: none;
  width: 6em;
  height: 2em;
  color: white;
  background: #f13b34;
  box-shadow: 0 8px 6px -6px #781010;
  filter: grayscale(70%); }
  .gombik a {
    text-decoration: none;
    color: white; }
  .gombik:hover, .gombik :focus {
    filter: none;
    transition: .2s ease-in; }

.social {
  display: inline-flex; }
  .social img {
    margin: .5em;
    width: 2em;
    filter: grayscale(70%); }
    .social img:hover, .social img :focus {
      filter: none;
      transition: .2s ease-in; }

.kontakt {
  display: inline-block;
  vertical-align: middle;
  text-align: center; }
  .kontakt p {
    margin: 1em auto; }

#footer img {
  width: 100%;
  max-height: 2em;
  margin: .5em auto; }

@media (max-width: 600px) {
  .iconBar {
    width: 3em;
    height: 3em; }

  .circle {
    width: 3em;
    height: 3em; }

  i {
    display: block; } }
@media (min-width: 600px) {
  article {
    text-align: center; }

  p {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    max-width: 300px; } }

/*# sourceMappingURL=style_page.css.map */
